body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.main-container {
    display: flex;
}

.help-container {
    display: flex;
    justify-content: center;
}

.controls {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.controls__title {
    text-align: center;
    margin: 20px 0;
}

.controls__mode {
    display: flex;
}

.controls__radio {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.controls__force-labels {
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}